.employer {
    padding: 60px 0 50px;
}

.container {}

.employer__title {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.02em;
    color: #171717;
    margin-bottom: 50px;
}

.employer__form {}

.employer__file {
    margin-bottom: 32px;
}

.file {

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.file__wrap-preview {

    border-radius: 4px;
    max-width: 280px;
    height: 80px;
    background-color: #fff;
}

.file__wrap-preview.file-active {
    background-color: transparent;
    max-width: auto;

}

.file__wrap-preview_active {
    max-width: auto;
}

.file__preview {}

.file__wrap-btn {
    position: relative;
}

.file__label {
    display: inline-block;
    border-radius: 4px;
    padding: 8px 24px;
    color: #171717;
    font-size: 14px;
    background: #a6adff;
    cursor: pointer;
    transition: .3s all;
}

.file__label:hover {
    color: #fff;
    background-color: #2a18ff;
}

.file__input {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 6%;
}

.employer__fieldset-input {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 20px;
    margin-bottom: 32px;
}

.employer__wrap-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 380px;
    width: 100%;

}

.employer__label {
    color: #171717;
}

.employer__input {
    border: 1px solid transparent;
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    background: #fff;
}

.employer__input::placeholder {
    color: #ccc;
}

.employer__fieldset-textarea {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.employer__textarea {
    padding: 8px 16px;
    outline: none;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 4px;
    min-height: 140px;
    width: 100%;
    resize: none;
}

.employer__input:focus-visible,
.employer__textarea:focus-visible{
    border-color: #a6adff;
}

.employer__textarea::placeholder {
    color: #ccc;
}


.employer__radio-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.employer__fieldset-radio {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    width: 100%;
}

.employer__legend {
    margin-bottom: 15px;
    color: #171717;
}


/* radio start */

.employer__label-radio {
    margin-bottom: 8px;
}

.radio {
    position: relative;
    width: 100%;
    align-items: center;
    padding-left: 28px;
}

.radio__input {
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;

}

.radio__input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 4px;
    height: 4px;

    background-color: #171717;
    border-radius: 100%;
    opacity: 0;

}

.radio__input:checked::after {
    opacity: 1;
}

.radio__input:focus-visible {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.radio__input:hover:not(:disabled) {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

}

/* radio end */

.employer__wrap-submit {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.employer__submit {
    padding: 12px 43px;
    border-radius: 8px;
    font-size: 20px;
    color: #171717;
    background: #a6adff;
    transition: 0.3s ease-in-out;
}

.employer__submit:hover {
    color: #fff;
    background-color: #2a18ff;
}

.employer__error {
    /* display: none; */
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #f00;
}


/* модификаторы из Js */

.employer__input.invalid,
.employer__textarea.invalid {
    border-color: #f00;
}

@media(max-width: 1024px) {

    .employer {
        padding: 48px 0 40px;
    }

    .employer__wrap-input {
        max-width: 280px;
    }

    .employer__radio-buttons {
        margin-bottom: 40px;
    }
}

@media(max-width: 768px) {

    .employer {
        padding: 36px 0 20px;
    }

    .employer__title {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .employer__fieldset-input {
        flex-direction: column;
        gap: 24px;
    }

    .employer__wrap-input {
        max-width: 100%;
        gap: 12px;
    }

    .employer__radio-buttons {
        margin-bottom: 32px;
    }

    .employer__submit {
        max-width: 220px;
        width: 100%;
        font-size: 14px;
        padding: 10px 16px;
    }

    .footer {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
    }
}

@media(max-width: 470px) {
    .header__container {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .header__link {
        width: 100%;
        text-align: center;
    }

    .employer {
        padding: 20px 0 10px;
    }

    .employer__title {
        font-size: 20px;
        letter-spacing: 0.02em;
    }

    .employer__legend {
        margin-bottom: 12px;
    }

    .employer__radio-buttons {
        gap: 24px;
    }

    .employer__label-radio {
        margin-bottom: 10px;
    }
}